* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: crimson;
}

.title {
  padding-top: 50px;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 70px;
}

.display {
  color: #252222;
  background-color: lightgoldenrodyellow;
  font-size: 50px;
  margin: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 300px;
  height: 60px;
  text-align: end;
}

.calculatorBody {
  background-color: black;
  width: 300px;
  height: 550px;
  padding: 20px;
  margin-top: 50px;
}

.calc-buttons {
  display: flex;
  width: 300px;
}

.numbers {
  flex-direction: row-reverse;
}

.numberButtons {
  margin-top: 20px;
  background-color: #5a5a5c;
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  width: 100px;
  height: 60px;
}

.mathsButtons {
  margin-top: 20px;
  background-color: #df7f02;
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 60px;
  width: 100px;
  height: 100px;
}
